 div{
     width:100%;     
}


 container {
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex;
}

.col-md-6{
    width:50%;
}

.col-md-4{
    width:33.3%
}

.col-md-12{
    width:100%
}

.text-right{
    text-align: right;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.font-bold{
    font-weight: bold;
}


.h12{
    font-size: 200%;
    text-align: left;
    padding-left: 10px;
    color:#7d97ad;
}


.responsive-image{
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

 img{
     max-width: 100%;
     height: auto;
}
.logo{
    width:100px;
}
.margin-right-10{
     margin-right: 10px;
 }

@media screen and (max-width: 750px){
    /**For mobile device**/
    .col-md-4{
        width:100%;       
    }
    
    .row{
        display:flex;
        flex-wrap: wrap;
    }
}